@use "variables" as *;

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__icon {
    height: 28px;
    width: 28px;
    transition: $transition;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }

    &--back {
      fill: white;
      stroke: none;
      opacity: 0.7;
    }

    &--favorite {
      fill: none;
      stroke: white;
      stroke-width: 60px;
      opacity: 0.7;

      &.is-favorite {
        fill: white;
        stroke: white;
        opacity: 1;
      }
    }
  }
}