@use "variables" as *;

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  color: $color-primary-text;

  &__city {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__temp {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    background: linear-gradient(to bottom, #fff 70%, rgba(white, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);

    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));

    transition: $transition;
    margin-bottom: 0.75rem;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.6));
    }
  }

  &__condition {
    font-size: 1.2rem;
    text-transform: capitalize;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__range {
    display: flex;
    gap: 1.5rem;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
  }

  &__range-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.1rem;
    font-weight: 500;

    span {
      color: #fff;
    }
  }

  &__high {
    text-shadow: 0 0 8px rgba($color-temp-high, 0.5);
  }

  &__low {
    text-shadow: 0 0 8px rgba($color-temp-low, 0.5);
  }

  &__icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

    &--high {
      fill: $color-temp-high;
    }

    &--low {
      fill: $color-temp-low;
    }
  }
}