@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    min-height: 100dvh;
    font-family: $font-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100%;
    min-height: 100dvh;
    background: radial-gradient(circle at 50% 0%,
            #23313f 0%, // Dein hellster Ton
            #1a2632 60%, // Dein $background-app-color
            #101921 100% // Dein $background-color
        );
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (min-width: 480px) {
        max-width: 400px;
        min-height: 850px;
        margin: 2rem auto;
        border-radius: 2rem;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    }
}