@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    min-height: 100dvh;
    font-family: $font-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.2) 50%,
                rgba(0, 0, 0, 0.6) 100%);
        z-index: 0;
        pointer-events: none;
    }

    &>* {
        position: relative;
        z-index: 1;
    }

    @media (min-width: 480px) {
        max-width: 400px;
        min-height: 850px;
        margin: 1rem auto;
        border-radius: 2rem;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    }
}