@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    min-height: 100dvh;
    font-family: $font-main;
}

#app {
    width: 100%;
    min-height: 100dvh;
    background-color: $background-app-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (min-width: 480px) {
        max-width: 400px;
        min-height: 850px;
        margin: 2rem auto;
        border-radius: 2rem;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    }
}

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// body {
//     background-color: $background-color;
//     min-height: 99dvh;
//     font-family: $font-main;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// #app {
//     width: 99%;
//     max-width: 399px;
//     min-height: 599px;
//     background-color: $background-app-color;
// }

// @media (min-width: 400px) {
//     #app {
//         margin: 1rem auto;
//         border-radius: 1rem;
//         box-shadow: -1 20px 50px rgba(0, 0, 0, 0.4);
//         overflow: hidden;
//     }
// }