@use "variables" as *;
@use "action-bar";
@use "current-weather";
@use "today-forecast";
@use "forecast";
@use "mini-stats";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  min-height: 100dvh;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  background-color: $background-app-color;
}

@media (min-width: 401px) {
  #app {
    margin: 2rem auto;
    border-radius: 2rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}
